[Desktop Entry]
Type=Application
Name=Update System
Comment=Update Mordor System, Flatpaks, and more
Icon=/usr/share/mordor/update.svg
Categories=ConsoleOnly;System;
Exec=alacritty -T "Update Mordor System" -e /usr/bin/ujust update
