[Desktop Entry]
Type=Application
Name=Shutdown System
Comment=Power off the system
Icon=/usr/share/mordor/power.svg
Categories=ConsoleOnly;System;
Exec=/usr/bin/alacritty -T "Shutdown Mordor System" -e /usr/bin/shutdown-system
