[Desktop Entry]
Type=Application
Name=System Update
Comment=Update Mordor, Flatpaks, and more
Icon=/usr/share/ublue-os/mordor/update.svg
Categories=ConsoleOnly;System;
Terminal=true
Exec=/usr/bin/ujust update
